:root {
  --hue: 0;
  --bgurl: url("/img/transparent-blob.png");
} /*! CSS Copyright 2007-2023 by amitp@cs.stanford.edu (Amit J. Patel)  */ /*! I don't mind if you copy my stylesheet.  However, I'd appreciate it if you gave me credit. */
body {
  --serif: "Iowan Old Style", Cambria, Georgia, serif;
  --sans-serif: "Avenir Next", Candara, Ubuntu, "Fira Sans", system-ui,
    "Segoe UI", sans-serif;
  --monospace: "Roboto Mono", "Cascadia Code", Consolas, monospace,
    "Segoe UI Symbol", Symbol;
  --body-width: calc(100vw - 2.25rem);
  --font-size: calc(0.625rem + 1vw);
  --line-height: calc(1.5 * var(--font-size));
  font-family: var(--sans-serif);
  font-size: var(--font-size);
  line-height: 1.5em;
  min-height: 95%;
}
@media (min-width: 34.375em) {
  body {
    --body-width: min(20.6rem + 33vw, 41.25rem);
    --font-size: calc(var(--body-width) / 33);
  }
}
main {
  font-family: var(--serif);
}
h1,
h2,
h3,
h4,
h5,
h6,
figcaption,
.sans-serif {
  font-family: var(--sans-serif);
  text-wrap: balance;
}
tt,
code,
kbd,
samp,
pre {
  font-family: var(--monospace);
  font-size: 0.8em;
}
pre :is(tt, code, kbd, samp) {
  font-size: unset;
}
#table-of-contents {
  background-color: #fff;
  padding-left: 1em;
  width: 18em;
  float: right;
}
#table-of-contents:after {
  clear: right;
}
nav,
#table-of-contents {
  font-family: var(--sans-serif);
  font-size: calc(var(--font-size) / 1.25);
}
nav a,
#table-of-contents a {
  text-decoration-color: hsl(var(--hue), 20%, 90%);
}
@media screen {
  header,
  section > h2 {
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
    text-rendering: optimizeLegibility;
  }
}
h1 {
  font-size: 2em;
  margin: 0;
  line-height: calc(1.5 * var(--line-height));
}
h1 .subheading {
  font-size: 0.5em;
  line-height: var(--line-height);
}
sup,
sub {
  position: relative;
  vertical-align: baseline;
  font-size: 0.75em;
  line-height: 0;
  padding-left: 0.125em;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
details summary {
  cursor: pointer;
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
html {
  background-color: #e4e4e0;
  color: #000;
}
body {
  background-color: #fff;
  color: #333;
}
header {
  display: block;
  text-align: center;
}
header > h1 {
  padding-top: var(--line-height);
}
@media screen {
  header,
  footer,
  .divider,
  section > h2 {
    color: #fff;
    background-color: hsl(var(--hue), 50%, 45%);
    background-image: var(--bgurl), var(--bgurl);
    background-position: 0 0, 16px 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  header a,
  footer a,
  .divider a,
  section > h2 a {
    color: hsl(var(--hue), 40%, 90%);
    background: unset;
    text-decoration: none;
  }
  header a:hover,
  footer a:hover,
  .divider a:hover,
  section > h2 a:hover {
    background-color: rgba(0, 0, 0, 0.5);
    text-decoration: underline;
  }
}
footer a,
.divider a {
  text-decoration: underline;
}
main {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}
section {
  margin: var(--line-height) 0;
}
section > * {
  width: var(--body-width);
  max-width: 100%;
}
.comments {
  width: calc(1.5 * var(--body-width));
  max-width: 100%;
}
@media screen {
  .comments,
  .below-divider {
    background-color: #e4e4e0;
  }
}
.comments {
  padding-bottom: 1.25em;
  font-size: 1em;
}
.comments .comment-author {
  text-shadow: 1px 1px 3px #fff;
}
section > h2 {
  --h2-margin: 3em;
  --h2-padding: 0.5em;
  margin: var(--line-height) auto;
  padding: calc(var(--line-height) / 2 - 1px) 0;
  font-size: 1.25em;
  width: calc(2 * var(--h2-margin) + var(--body-width));
  max-width: 100%;
}
section > h2 > span {
  display: inline-block;
  margin-left: var(--h2-margin);
}
section > h2 a.anchor {
  float: right;
  width: var(--h2-margin);
  padding-right: var(--h2-padding);
  text-align: center;
  color: hsl(var(--hue), 50%, 45%);
}
section > h2:hover a.anchor {
  color: hsl(var(--hue), 20%, 80%);
}
h3 {
  --h2-margin: 3em;
  margin: var(--line-height) auto;
  font-size: 1.125em;
}
h3 a.anchor {
  float: right;
  width: var(--h2-margin);
  padding-right: 0.5em;
  text-align: center;
  color: hsl(var(--hue), 20%, 80%);
}
@media (min-width: 34.375em) {
  h3 a.anchor {
    margin-right: calc(0em - var(--h2-margin));
  }
}
h4 a.anchor,
h5 a.anchor,
h6 a.anchor {
  padding-left: 1em;
  color: hsl(var(--hue), 20%, 80%);
}
h3:hover,
h4:hover a.anchor,
h5:hover a.anchor,
h6:hover a.anchor {
  color: hsl(var(--hue), 50%, 40%);
}
header nav {
  display: block;
}
header nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  line-height: 1;
  margin: 0;
}
header nav ul li {
  display: inline-block;
  padding: 0.1em 0.3em;
  text-align: center;
  flex: 0 0 4em;
  align-self: center;
  white-space: nowrap;
}
header nav ul li a {
  display: block;
  font-weight: bold;
  text-decoration: none;
}
header,
.divider,
section > h2 {
  border-bottom: 1px solid #000;
}
.divider,
section > h2 {
  border-top: 1px solid #000;
}
.divider {
  min-height: calc(2 * var(--line-height));
  text-align: center;
}
.below-divider {
  padding-top: var(--line-height);
  border-bottom: 1px solid black;
}
.below-divider > p:first-child {
  font-size: 1.25em;
  text-align: center;
  margin-top: 0;
}
footer {
  --footer-padding-y: calc(var(--line-height) / 2);
  --footer-padding-x: var(--font-size);
  padding: var(--footer-padding-y) var(--footer-padding-x);
  border-top: 1px solid #000;
}
footer > div > address {
  display: block;
}
footer > div > * {
  text-align: center;
}
@media (min-width: 50em) {
  footer > div {
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: calc(2 * var(--body-width));
    width: calc(100vw - 2 * var(--footer-padding-x));
  }
  footer > div > address {
    flex: 0 1 20em;
    align-self: center;
    text-align: left;
  }
  footer > div > div {
    flex: 1 1 20em;
    align-self: center;
    text-align: right;
  }
  footer > div > div > p,
  footer > div > div > div {
    margin-top: 0;
  }
}
h2:target {
  animation: target-attention 0.4s 1;
  font-size: 2em;
}
@keyframes target-attention {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.1);
  }
}
div:target {
  border: 1px dashed #888;
}
kbd kbd {
  padding: 0.1em 0.4em;
  margin: 0 0.1em 0.2em 0.1em;
  font-size: 0.75em;
  white-space: nowrap;
  background-color: #ddd;
  color: #242;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.2em;
  box-shadow: inset 0 0 1px 1px #fff, 0 2px 0 rgba(0, 0, 0, 0.3);
}
samp,
kbd {
  background-color: #f3f3f2;
}
code,
samp {
  color: #442;
}
kbd {
  margin: 0 0.4em;
  color: #252;
}
section li::marker {
  font-family: var(--sans-serif);
  color: hsl(var(--hue), 50%, 40%);
}
img {
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}
section figcaption {
  font-size: 0.75em;
  line-height: 1.1;
  text-align: center;
}
a {
  color: hsl(var(--hue), 50%, 45%);
  text-decoration-color: hsl(var(--hue), 20%, 80%);
}
a:hover {
  text-decoration: underline;
  text-decoration-color: hsl(var(--hue), 50%, 45%);
  background: hsla(var(--hue), 50%, 50%, 0.1);
}
:focus {
  outline-color: hsl(var(--hue), 50%, 45%);
}
.draft {
  font-family: var(--serif);
  font-size: calc(4 * var(--font-size));
  letter-spacing: -0.1em;
  color: #eee;
  opacity: 0.5;
  text-align: center;
  transform: rotate(-5deg);
  line-height: 1;
  position: absolute;
  top: 0;
  height: 0;
  left: 25%;
  width: 50%;
  pointer-events: none;
}
@media (min-width: 34.375em) {
  section p,
  section li {
    hanging-punctuation: first last;
  }
  p,
  nav,
  figure,
  td,
  th,
  abbr,
  acronym,
  code,
  kbd,
  samp,
  tt,
  var,
  pre {
    hyphens: auto;
    -webkit-hyphens: auto;
  }
}
.w-auto,
section > .w-auto {
  width: auto;
}
.w-full,
section > .w-full {
  width: 100%;
}
.select-none {
  user-select: none;
  -webkit-user-select: none;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-sm {
  font-size: 0.875em;
}
.font-sans {
  font-family: var(--sans-serif);
}
.font-serif {
  font-family: var(--serif);
}
.font-mono {
  font-family: var(--monospace);
}
p,
figure,
ul,
ol {
  margin: var(--line-height) 0;
}
header > *,
section > *,
footer > *,
main > address,
.comments {
  margin-left: auto;
  margin-right: auto;
}
figure {
  text-align: center;
}
figure pre {
  text-align: left;
}
li > ul,
li > ol {
  margin-top: 0;
  margin-bottom: 0;
}
figure img,
figure svg,
figure canvas {
  max-width: 100%;
}
dt {
  font-weight: bold;
}
pre {
  width: var(--body-width);
  max-width: 100%;
  line-height: 1.4;
  overflow: auto;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left-width: 0;
  border-right-width: 0;
}
pre::-webkit-scrollbar {
  height: 1em;
}
pre::-webkit-scrollbar-thumb:horizontal {
  border-radius: 0.5em;
  background: rgba(0, 0, 0, 0.4);
}
pre.simple,
.comments pre {
  overflow: auto;
  width: calc(var(--body-width) * 1.2);
  border: none;
  background: transparent;
  background-color: transparent;
  box-shadow: none;
}
pre.snippet,
pre.src {
  border-top-style: dashed;
  border-bottom-style: dashed;
}
section > pre:only-child {
  padding-bottom: var(--font-size);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
blockquote {
  font-style: italic;
  text-wrap: balance;
}
table.standard {
  font-family: var(--sans-serif);
  font-size: 0.875em;
  border: 2px solid white;
  border-collapse: collapse;
  overflow-x: auto;
}
table.standard th {
  background-color: #e8e8e3;
  border: 2px solid white;
  padding: 0 0.5em;
}
table.standard td {
  background-color: #fff;
  border: 1px solid #f3f3f2;
  border-right-color: #babaab;
  padding: 0 0.5em;
}
table.standard thead {
  border-bottom: 2px solid #babaab;
}
table.standard thead th {
  background: linear-gradient(to top, #e8e8e3, #f4f4f1, #fafaf9);
}
aside,
p.note,
div.note > p {
  width: calc(--body-width - 2em);
  padding: 1em;
  background: #eee;
  border: 1px solid #ddd;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
}
tt,
code {
  padding: 0 2px;
}
pre :is(tt, code) {
  padding: unset;
}
main > address,
section > address,
section > time {
  display: block;
  width: var(--body-width);
  max-width: 100%;
  font-family: var(--sans-serif);
  text-align: right;
}
form {
  margin: 0;
}
input {
  accent-color: hsl(var(--hue), 50%, 50%);
}
input[type="text"] {
  max-width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.7);
  background-color: #f8f8f4;
  color: #000;
  text-align: center;
  font-weight: bold;
}
input[type="text"]:focus {
  background-color: #fffff4;
}
input::-webkit-input-placeholder {
  color: #aaa;
}
input::-moz-placeholder {
  color: #aaa;
}
input[type="search"][name="q"] {
  box-shadow: inset 0 0.1em 0.3em 0 rgba(0, 0, 0, 0.5);
  border-radius: 0.6em;
  padding: 0.3em 0.6em;
  border-width: 0;
}
.TODO {
  color: #bf4040;
  background: #e8e3e3;
  border: 1px solid #bf4040;
  margin-left: 0.5ex;
}
.DONE {
  color: #4040bf;
  background: #e3e3e8;
  border: 1px solid #4040bf;
}
.src .constant {
  font-style: oblique;
}
.src .comment-delimiter,
.src .nxml-comment-delimiter {
  color: #4488ff;
}
.src .comment,
.src .nxml-comment-content {
  color: #006699;
}
.src .builtin {
  color: #508b20;
}
.src .warning {
  color: #cc0000;
}
.src .function-name {
  color: #268bd2;
  font-weight: bold;
}
.src .variable-name {
  font-weight: bold;
  color: #5c3d5c;
}
.src .type {
  color: #6c71c4;
}
.src .constant-face {
  color: #d33682;
}
.src .doc {
  color: #666666;
  background-color: #e2e6e8;
}
.src .string {
  color: #888888;
}
.src .preprocessor {
  color: #859900;
}
.src .negation-char,
.src .sh-escaped-newline {
  color: #ff0000;
}
.src .todo {
  color: #ffffff;
  background: #dc322f;
}
.src .note {
  color: #ffffff;
  background: #2aa198;
}
.src .hack {
  color: #ffffff;
  background: #859900;
}
.src .paren {
  color: #a0a090;
  font-weight: bold;
}
.src .keyword {
  color: #679;
  font-weight: bold;
}
.src .minor-control-construct {
  color: #406abf;
  font-weight: bold;
}
.src .major-control-construct {
  color: #bf4040;
}
.src-cpp .constant {
  color: #999999;
}
.src-emacs-lisp .paren {
  color: #c9c9c4;
}
.src-sh .string,
.src-sh .comment {
  color: inherit;
}
.src-python .highlight-indentation {
  border-right: 2px solid #eeeeee;
}
.src-css .css-selector {
  color: #478547;
}
.src-css .css-property {
  color: #406abf;
}
.src-xml .nxml-element-prefix {
  color: #bf40bf;
}
.src-xml .nxml-element-local-name {
  color: #406abf;
  font-weight: normal;
}
.src-xml .nxml-attribute-local-name {
  color: #478547;
}
.src-xml .nxml-element-colon {
  color: #a3adc2;
}
.src-xml .nxml-tag-delimiter,
.src-xml .nxml-tag-slash {
  color: #9cabc9;
  font-weight: bold;
}
table.standard td.left,
table.standard th.left {
  text-align: left;
}
table.standard td.center,
table.standard th.center {
  text-align: center;
}
table.standard td.right,
table.standard th.right {
  text-align: right;
}
@media screen {
  *[class^="section-number"] {
    color: hsl(var(--hue), 20%, 50%);
  }
  h2 .section-number {
    display: inline-block;
    margin-left: 0;
    padding-left: 0.5em;
    text-align: center;
    width: var(--h2-margin);
    color: hsl(var(--hue), 50%, 80%);
  }
  h2 .section-number + span {
    margin-left: 0;
  }
  h3 .section-number {
    float: left;
    text-align: center;
    width: 2em;
    margin-right: 0.5em;
    color: hsl(var(--hue), 25%, 90%);
    background: hsl(var(--hue), 50%, 50%);
    border-radius: 0.25em;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
  }
}
@media screen and (min-width: 34.375em) {
  h3 .section-number {
    background: url(/img/svg-blob-mini.svg) no-repeat center center;
    background-size: 2em 2em;
    height: 2em;
    margin-left: -2.5em;
    margin-top: -0.3em;
    padding-top: 0.3em;
  }
}
.print-endnote {
  display: none;
}
@media print {
  @page {
    margin: 1in;
  }
  body {
    --font-size: 13pt;
    --body-width: 100vw;
    --serif: "Book Antiqua", "Times New Roman", serif;
    --sans-serif: "Helvetica", sans-serif;
    --monospace: "Courier", "Courier New", monospace;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  figure {
    page-break-inside: avoid;
  }
  p,
  li {
    orphans: 5;
    widows: 5;
  }
  section p a,
  section li a {
    text-decoration: underline;
    text-decoration-color: #ddd;
  }
  header nav,
  .comments {
    display: none;
  }
  .print-endnote {
    display: unset;
  }
  .print-endnote li {
    list-style-type: none;
    word-break: break-all;
  }
  .print-endnote img {
    width: 2.5em;
    vertical-align: bottom;
  }
}

@media print {
  header::before {
    position: absolute;
    right: 0;
    top: 0;
    content: url(https://chart.apis.google.com/chart?chs=120x120&cht=qr&chl=https%3A%2F%2Fwww.redblobgames.com%2Fgrids%2Fhexagons%2F);
  }
}

@media screen {
  .colored-background,
  header,
  .footer,
  .divider,
  section > h2 {
    /* Override the blob image */
    /* This background from http://philbit.com/svgpatterns/#honeycomb */
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyOCIgaGVpZ2h0PSI1MCIgdmlld0JveD0iMCAwIDU2IDEwMCI+CjxyZWN0IHdpZHRoPSI1NiIgaGVpZ2h0PSIxMDAiIGZpbGw9ImhzbCgwLDUwJSw1MCUpIj48L3JlY3Q+CjxwYXRoIGQ9Ik0yOCA2NkwwIDUwTDAgMTZMMjggMEw1NiAxNkw1NiA1MEwyOCA2NkwyOCAxMDAiIGZpbGw9Im5vbmUiIHN0cm9rZT0iaHNsKDAsNTAlLDQwJSkiIHN0cm9rZS13aWR0aD0iMiI+PC9wYXRoPgo8cGF0aCBkPSJNMjggMEwyOCAzNEwwIDUwTDAgODRMMjggMTAwTDU2IDg0TDU2IDUwTDI4IDM0IiBmaWxsPSJub25lIiBzdHJva2U9ImhzbCgwLDUwJSw0NSUpIiBzdHJva2Utd2lkdGg9IjEuNSI+PC9wYXRoPgo8L3N2Zz4=");
  }
}

/* switch to two column when width > 40px marginleft + 660px body + 18px gutter + 400px diagrams + 40px marginright = 1158px */
@media (min-width: 72.375em) {
  body {
    --gutter: 1.125rem;
    --diagram-width: calc(100vw - 47.375rem);
    --margin-left: calc(
      (100vw - var(--body-width) - var(--gutter) - var(--diagram-width)) / 2
    );
  }

  section > * {
    margin-left: var(--margin-left);
    max-width: var(--body-width);
  }
  section > h2 {
    margin-left: calc(var(--margin-left) - var(--h2-margin));
  }
  body section > .float-container {
    width: calc(var(--body-width) + var(--gutter) + var(--diagram-width));
    max-width: inherit;
  }
  body section > .float-container > .float-right {
    width: var(--diagram-width);
  }
  body #table-of-contents {
    width: 18.75rem;
    float: right;
    margin-left: 6.25rem;
  }
}
/* but when the diagrams reach 600px, stop them from growing further */
@media (min-width: 84.875em) {
  body {
    --diagram-width: 37.5rem;
  }
}

h2,
h3,
.float-container {
  clear: both;
}
.float-container:after {
  content: "";
  display: table;
  clear: both;
}

.float-container > * {
  float: left;
  clear: left;
  margin-top: 0; /* TODO: figure out a better way to deal with this */
  width: var(--body-width);
}
.float-container > .float-right {
  float: right;
  clear: right;
}

.float-container > p:first-child,
.float-container > div:first-child > p:first-child {
  /* Hack to deal with margin outside float not overlapping with margin inside float */
  margin-top: 0;
}

#table-of-contents {
  float: none;
  width: var(--body-width);
  columns: 10em;
  list-style-type: square;
  list-style-position: inside;
  list-style-image: url("hexagon-bullet.svg");
}

/* From http://www.redblobgames.com/grids/hexagons/
 * Copyright 2018 Red Blob Games <redblobgames@gmail.com>
 */

svg {
  contain: content;
  content-visibility: auto;
  overflow: hidden;
  pointer-events: visiblePainted;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  touch-action: manipulation;
}

svg > * {
  pointer-events: none;
}

figure {
  width: var(--body-width);
  text-align: center;
}

label {
  /* assume this is only used for checkbox and radio */
  cursor: pointer;
}

button {
  font-weight: bold;
  font-size: inherit;
  font-family: inherit;
  border: 2px outset hsl(0, 0%, 90%);
  border-radius: 0.25em;
  background: hsl(0, 0%, 90%);
  color: black;
  box-shadow: 0px 0px 3px 1px hsla(0, 0%, 0%, 0.2);
  margin: 0 0.25em;
  padding: 0 0.125em;
  -webkit-appearance: none;
  cursor: pointer;
}

button.highlight {
  border: 2px inset hsl(0, 50%, 90%);
  background: hsl(0, 50%, 95%);
  box-shadow: 0px 0px 3px 1px hsla(60, 100%, 50%, 0.5);
}

button:hover {
  outline: 1px solid white;
  box-shadow: 0px 0px 3px 1px hsla(0, 50%, 50%, 0.5);
}

pre.matrix {
  line-height: 1;
  padding: 0.5em 1em;
  background: transparent;
  border: none;
  resize: none;
}

polygon {
  pointer-events: visiblePainted;
  fill: hsl(60, 10%, 95%);
  stroke: hsl(0, 0%, 70%);
  stroke-width: 2px;
}

text {
  font-size: 40px;
  font-family: var(--sans-serif);
  text-anchor: middle;
  fill: black;
  stroke: none;
}
.shadow text,
.faded text {
  fill: hsl(60, 10%, 70%);
}
path.path {
  fill: none;
  stroke: hsl(60, 20%, 70%);
  stroke-width: 100px;
  stroke-opacity: 0.3;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#diagram-spacing .measurement path {
  fill: hsl(0, 50%, 50%);
  stroke: hsl(0, 50%, 50%);
  fill-opacity: 0.5;
  transition: fill-opacity 0.5s, stroke-opacity 0.75s;
}
:is(#diagram-spacing, #diagram-sizes) .measurement text {
  font-size: 14px;
  transition: fill-opacity 0.25s;
}
:is(#diagram-spacing, #diagram-sizes) .hide * {
  fill-opacity: 0;
}

circle.marker {
  fill: hsl(0, 50%, 50%);
}
line.marker {
  stroke: hsl(0, 50%, 50%);
  stroke-width: 5px;
}
.corners circle.marker {
  fill: hsl(0, 25%, 25%);
}

.offset-diagram polygon {
  stroke-width: 3px;
}
.offset-diagram .grid text {
  font-size: 70px;
}
.doubled-diagram .grid text {
  font-size: 60px;
}

.q-axis-same .q-coord,
.origin .q-coord {
  fill: hsl(90, 100%, 35%);
  font-weight: bold;
}
.r-axis-same .r-coord,
.origin .r-coord {
  fill: hsl(200, 100%, 45%);
  font-weight: bold;
}
.s-axis-same .s-coord,
.origin .s-coord {
  fill: hsl(300, 80%, 50%);
  font-weight: bold;
}
.q-axis-same polygon,
#diagram-grid-cube .q-axis-same polygon {
  fill: hsl(90, 20%, 87%);
}
.r-axis-same polygon,
#diagram-grid-cube .r-axis-same polygon {
  fill: hsl(200, 15%, 90%);
}
.hide-s-coordinate .s-coord {
  fill: hsl(300, 10%, 85%);
}
.hide-s-coordinate .s-axis-same polygon {
  fill: hsl(300, 10%, 95%);
}
#diagram-grid-cube .s-axis-same polygon {
  fill: hsl(300, 10%, 90%);
}
#diagram-grid-axial .highlight polygon,
#diagram-grid-cube .highlight polygon {
  fill: hsl(60, 100%, 85%);
}

.origin polygon {
  fill: hsl(60, 10%, 100%);
}
.samerow polygon {
  fill: hsl(120, 20%, 90%);
}
.shadow polygon {
  fill: hsl(60, 10%, 90%);
}
.highlight polygon {
  fill: hsl(60, 100%, 85%);
}
.wall polygon {
  fill: hsl(0, 20%, 70%);
}

#diagram-parts .root text {
  font-size: 15px;
}

#diagram-cube-to-hex polygon.top {
  fill: hsl(60, 5%, 95%);
}
#diagram-cube-to-hex polygon.left {
  fill: hsl(60, 0%, 90%);
}
#diagram-cube-to-hex polygon.right {
  fill: hsl(280, 5%, 85%);
}

.x line {
  fill: none;
  stroke: hsl(90, 100%, 35%);
}
.y line {
  fill: none;
  stroke: hsl(300, 80%, 50%);
}
.z line {
  fill: none;
  stroke: hsl(200, 100%, 45%);
}

/* NOTE: have to keep stroke out of non-svg elements because safari uses it */
.q {
  color: hsl(90, 100%, 25%);
}
svg .q {
  stroke: hsl(90, 100%, 35%);
  stroke-width: 4px;
}
.r {
  color: hsl(200, 100%, 35%);
}
svg .r {
  stroke: hsl(200, 100%, 45%);
  stroke-width: 4px;
}
.s {
  color: hsl(300, 80%, 40%);
}
svg .s {
  stroke: hsl(300, 80%, 50%);
  stroke-width: 4px;
}

.axes path.q {
  fill: hsl(90, 50%, 35%);
}
.axes path.r {
  fill: hsl(200, 50%, 45%);
}
.axes path.s {
  fill: hsl(300, 40%, 50%);
}
.axes path {
  fill-opacity: 0.5;
  stroke-opacity: 0.5;
}
#diagram-grid-comparison text {
  font-size: 30px;
}
#diagram-grid-axial .axes path.s {
  stroke: white;
  fill: hsl(300, 10%, 80%);
}

/* #diagram-distances .grid polygon { fill: hsl(60, 10%, 85%); } */
.d0 polygon {
  fill: hsl(60, 10%, 80%);
}
.d1 polygon {
  fill: hsl(60, 10%, 83%);
}
.d2 polygon {
  fill: hsl(60, 10%, 87%);
}
.d3 polygon {
  fill: hsl(60, 10%, 91%);
}
.d4 polygon {
  fill: hsl(60, 10%, 95%);
}
.d0.highlight polygon {
  fill: hsl(60, 50%, 85%);
}
.d1.highlight polygon {
  fill: hsl(60, 50%, 88%);
}
.d2.highlight polygon {
  fill: hsl(60, 50%, 92%);
}
.d3.highlight polygon {
  fill: hsl(60, 50%, 96%);
}
.d4.highlight polygon {
  fill: hsl(60, 50%, 100%);
}
#diagram-distances .q-axis-max .q-coord,
#diagram-distances .r-axis-max .r-coord,
#diagram-distances .s-axis-max .s-coord {
  font-weight: bold;
  fill: black;
}
#diagram-distances .highlight.q-axis-max .q-coord {
  fill: hsl(90, 100%, 35%);
}
#diagram-distances .highlight.r-axis-max .r-coord {
  fill: hsl(200, 100%, 45%);
}
#diagram-distances .highlight.s-axis-max .s-coord {
  fill: hsl(300, 80%, 50%);
}

.neighbors-code span.highlight {
  background: hsl(60, 100%, 85%);
}

#diagram-line-drawing path.path {
  stroke: black;
  stroke-opacity: 0.15;
  stroke-width: 24px;
}

#diagram-line-drawing .highlight polygon {
  fill: hsl(200, 50%, 80%);
}

#diagram-range-coordinate .grid text {
  fill: hsl(0, 0%, 80%);
}
#diagram-range-coordinate .grid .highlight text {
  fill: hsl(0, 0%, 70%);
}
#diagram-range-coordinate text.inequality {
  font-size: 60px;
}

#diagram-range-intersection .regionA polygon {
  fill: hsl(200, 40%, 80%);
}
#diagram-range-intersection .regionB polygon {
  fill: hsl(300, 20%, 80%);
}
#diagram-range-intersection .regionA.regionB polygon {
  fill: hsl(150, 20%, 80%);
}
#diagram-range-intersection .highlight polygon {
  fill: hsl(200, 50%, 70%);
}
#diagram-range-intersection .center polygon {
  fill: hsl(300, 30%, 70%);
}
#diagram-range-intersection .regionA.regionB.center polygon {
  fill: hsl(150, 30%, 70%);
}
#diagram-range-intersection .regionA.regionB.highlight polygon {
  fill: hsl(150, 30%, 70%);
}

#diagram-movement-range .origin polygon {
  fill: hsl(60, 100%, 50%);
}
#diagram-movement-range text {
  font-size: 60px;
}
#diagram-movement-range .path text {
  font-weight: bold;
  fill: black;
}

#diagram-rotation .right2 polygon {
  fill: hsl(300, 20%, 80%);
}
#diagram-rotation .left2 polygon {
  fill: hsl(120, 20%, 80%);
}
#diagram-rotation .right1 polygon {
  fill: hsl(300, 40%, 80%);
}
#diagram-rotation .left1 polygon {
  fill: hsl(120, 40%, 80%);
}
#diagram-rotation .opposite polygon {
  fill: hsl(200, 20%, 80%);
}
#diagram-rotation .highlight polygon {
  fill: hsl(200, 50%, 80%);
}
#diagram-rotation .arrow {
  fill-opacity: 0.5;
  stroke-width: 3;
  stroke-opacity: 0.5;
}
#diagram-rotation .arrow.right {
  fill: hsl(300, 50%, 70%);
  stroke: hsl(300, 50%, 30%);
}
#diagram-rotation .arrow.left {
  fill: hsl(120, 50%, 70%);
  stroke: hsl(120, 50%, 30%);
}
#diagram-rotation .arrow.highlight {
  fill: hsl(200, 50%, 70%);
  stroke: hsl(200, 50%, 30%);
}
#diagram-rotation .grid text {
  fill: hsl(0, 0%, 80%);
}
#diagram-rotation .left1 text,
#diagram-rotation .left2 text,
#diagram-rotation .right1 text,
#diagram-rotation .right2 text,
#diagram-rotation .opposite text,
#diagram-rotation .highlight text,
#diagram-rotation .center text {
  fill: hsl(0, 0%, 0%);
}

#diagram-reflection .grid text {
  fill: hsl(0, 0%, 80%);
}
#diagram-reflection .highlight text,
#diagram-reflection .q-primary text,
#diagram-reflection .r-primary text,
#diagram-reflection .s-primary text,
#diagram-reflection .q-secondary text,
#diagram-reflection .r-secondary text,
#diagram-reflection .s-secondary text {
  fill: hsl(0, 0%, 0%);
}
#diagram-reflection .q-axis-same polygon,
#diagram-reflection .r-axis-same polygon,
#diagram-reflection .s-axis-same polygon {
  fill: hsl(0, 0%, 100%);
}
#diagram-reflection line.primary.axis.q {
  stroke: hsl(120, 40%, 50%);
}
#diagram-reflection line.primary.axis.r {
  stroke: hsl(200, 40%, 50%);
}
#diagram-reflection line.primary.axis.s {
  stroke: hsl(300, 40%, 50%);
}
#diagram-reflection line.axis {
  stroke-width: 10px;
  stroke-opacity: 0.5;
}
#diagram-reflection .q-primary polygon {
  fill: hsl(120, 40%, 80%);
}
#diagram-reflection .q-secondary polygon {
  fill: hsl(120, 10%, 80%);
}
#diagram-reflection .r-primary polygon {
  fill: hsl(200, 40%, 80%);
}
#diagram-reflection .r-secondary polygon {
  fill: hsl(200, 10%, 80%);
}
#diagram-reflection .s-primary polygon {
  fill: hsl(300, 40%, 80%);
}
#diagram-reflection .s-secondary polygon {
  fill: hsl(300, 10%, 80%);
}
#diagram-reflection .arrow {
  fill-opacity: 0.5;
  stroke-width: 3;
  stroke-opacity: 0.5;
}
#diagram-reflection .q.primary.arrow {
  fill: hsl(120, 50%, 70%);
}
#diagram-reflection .r.primary.arrow {
  fill: hsl(200, 50%, 70%);
}
#diagram-reflection .s.primary.arrow {
  fill: hsl(300, 50%, 70%);
}

#diagram-rings .highlight polygon,
#diagram-spiral .highlight polygon {
  fill: hsl(200, 50%, 80%);
}
#diagram-rings .arrow,
#diagram-spiral .arrow {
  fill: hsl(200, 50%, 50%);
  fill-opacity: 0.5;
  stroke: hsl(200, 50%, 30%);
  stroke-width: 1;
  stroke-opacity: 0.3;
}

#diagram-field-of-view .origin polygon {
  fill: hsl(60, 100%, 70%);
}
#diagram-field-of-view circle {
  stroke: black;
  stroke-width: 2px;
  fill: hsl(60, 10%, 70%);
}
#diagram-field-of-view circle.blocked {
  fill: hsl(0, 100%, 50%);
}
#diagram-field-of-view circle.visible {
  fill: hsl(60, 100%, 75%);
}

#diagram-hex-to-pixel-axial path {
  fill-opacity: 0.5;
  stroke-width: 1;
  stroke-opacity: 0.3;
}
#diagram-hex-to-pixel-axial path.q {
  fill: hsl(200, 50%, 70%);
  stroke: hsl(200, 50%, 30%);
}
#diagram-hex-to-pixel-axial path.r {
  fill: hsl(120, 35%, 70%);
  stroke: hsl(120, 35%, 30%);
}

#diagram-wraparound .wrapped polygon {
  fill: hsl(300, 5%, 80%);
}
#diagram-wraparound .wrapped.parity polygon {
  fill: hsl(120, 5%, 85%);
}
#diagram-wraparound .wrapped.origin polygon {
  fill: hsl(200, 10%, 70%);
}
#diagram-wraparound .highlight polygon {
  fill: hsl(200, 50%, 80%);
}
#diagram-wraparound .wrapped.highlight polygon {
  fill: hsl(200, 40%, 90%);
}

#diagram-pathfinding .path polygon {
  fill: hsl(200, 10%, 90%);
}
#diagram-pathfinding .origin polygon {
  fill: hsl(60, 100%, 50%);
}
#diagram-pathfinding .wall polygon {
  fill: hsl(0, 20%, 70%);
}
#diagram-pathfinding path.path {
  fill: none;
  stroke: hsl(60, 20%, 50%);
  stroke-width: 15px;
  stroke-opacity: 0.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#diagram-map-storage .firstcol .q-coord {
  fill: hsl(90, 100%, 35%);
  font-weight: bold;
}

.toggle-orientation {
  cursor: pointer;
}
.toggle-orientation polygon {
  fill: hsl(0, 0%, 90%);
}
.toggle-orientation.selected polygon {
  fill: hsl(0, 50%, 75%);
}
.toggle-orientation text {
  fill: black;
}

.axis {
  fill: none;
  stroke: hsl(0, 0%, 75%);
  stroke-dasharray: 4, 3;
}

section > .wide-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: calc(100vw - 4.5rem);
  width: calc(2 * var(--body-width));
}
.wide-container > figure {
  flex: 1 1 9.375rem;
  padding: 0.3125rem;
}

dfn {
  /* I'm not quite using this right because I show the definition with interaction instead of the browser's text definition */
  border-bottom: 2px dashed hsl(0, 50%, 50%);
  cursor: help;
  color: unset;
  font-style: unset;
}
dfn::after {
  content: " ?";
  vertical-align: super;
  font-size: 50%;
  font-weight: bold;
  color: hsl(0, 50%, 50%);
}

pre {
  /* This style matches the diagrams */
  background-color: hsl(60, 10%, 95%);
  border-color: hsla(0, 0%, 70%, 0.5);
  box-shadow: none;
}

@media (hover: none), (-moz-touch-enabled: 1) {
  .show-for-mouse {
    display: none;
  }
}
@media (hover: hover), (-moz-touch-enabled: 0) {
  .show-for-touch {
    display: none;
  }
}

table.grid-comparison {
  font-family: var(--sans-serif);
  font-size: 80%;
}
table.grid-comparison thead th:not(:first-child) {
  border-bottom: 2px solid black;
}
table.grid-comparison tbody th {
  text-align: right;
}
table.grid-comparison td {
  text-align: center;
  padding: 0 0.5em;
  background-color: hsl(60, 5%, 99%);
  box-shadow: 0 1px 2px hsla(60, 5%, 50%, 0.1);
}
